{% set exitpopup = __SELF__.exitpopup %}

{% if exitpopup.enabled and not __SELF__.exitpopup_session %}

<div id="bio_ep_bg"></div>
<div id="bio_ep">
	<div id="bio_ep_close">x</div>
	{% if exitpopup.link %} <a href="{{ exitpopup.link|prep_url }}" {{ exitpopup.link|target }} title="{{ exitpopup.title }}"> {% endif %}
		<img src="{{ url(exitpopup.image|media) }}" alt="{{ exitpopup.title }}"/>
	{% if exitpopup.link %} </a> {% endif %}
</div>

<style type="text/css">
	#bio_ep_bg {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.3; z-index: 10001;}
	#bio_ep {display: none; position: fixed; width: 100px; height: 100px; font-family: 'Titillium Web', sans-serif; font-size: 16px; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); background-color: #fff; box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.5); z-index: 10002;}
	#bio_ep_close {position: absolute; left: 100%; margin: -8px 0 0 -12px; width: 20px; height: 20px; color: #fff; font-size: 12px; font-weight: bold; text-align: center; border-radius: 50%; background-color: #5c5c5c; cursor: pointer;}
</style>


<!-- Load Script -->
{% put scripts %}

{% set html_popexit='' %}
{% if exitpopup.link %} {% set html_popexit='<a href="'~exitpopup.link~'" target="'~exitpopup.target~'" title="'~exitpopup.title~'">' %} {% endif %}
	{% set html_popexit=html_popexit~'<img src="'~exitpopup.image|media~'" alt="'~exitpopup.title~'" />' %}
{% if exitpopup.link %} {% set html_popexit=html_popexit~'</a>' %} {% endif %}

<!-- Manual: http://beeker.io/exit-intent-popup-script-tutorial -->
<script src="{{ url('/') }}/plugins/diveramkt/floatingbanner/assets/vendor/beeker.io-exitpopup/bioep.js?v=0.0.2"></script>

<script type="text/javascript">
	if( navigator.userAgent.match(/Android/i)
		|| navigator.userAgent.match(/webOS/i)
		|| navigator.userAgent.match(/iPhone/i)
		|| navigator.userAgent.match(/iPad/i)
		|| navigator.userAgent.match(/iPod/i)
		|| navigator.userAgent.match(/BlackBerry/i)
		|| navigator.userAgent.match(/Windows Phone/i)) {

		bioEp.init({
			html: '{{html_popexit|raw}}',
			cookieExp: 0,
			delay: 1,
			showOnDelay: true,
			width: 800,
			height: 600,
		});

} else {

	bioEp.init({
		html: '{{html_popexit|raw}}',
		// cookieExp: 1,
		cookieExp: 0,
		delay: 1,
		showOnDelay: false,
		width: 800,
		height: 600,
	});

}

// function resize_banner_exitfloat(){
	// $('#bio_ep')
// }

$(document).ready(function(){
	$('#bio_ep a').click(function(){
		$('#bio_ep_close').trigger('click');
	});
	$.request('{{__SELF__}}::onCreateSession', {});
});

</script>

<style type="text/css">
	/*#bio_ep{height: auto!important;max-width: 800px!important;width: auto!important;height: 80%;}*/
	#bio_ep{
		max-width: 800px!important;width: auto!important;height: auto;
		/*max-height: 90%!important;*/
		transform: translate(-50%, -50%)!important;
	}
	#bio_ep a{width: 100%;}
	#bio_ep img{max-width: 100%;float: left;max-height: 100%;}
	#bio_ep_close{
		border: solid black 2px;
		color: black!important;
		background: white!important;
		width: 34px!important;
		height: 34px!important;
		line-height: 26px;
		overflow: hidden;
		cursor: pointer;
		font-size: 110%;
	}
	/*#bio_ep_close:before{content: "\f00d";float: left;margin-top: 4px;margin-left: 6px;margin-bottom: 10px;}*/
</style>

{% endput %}
{% endif %}