{% set popup = __SELF__.popup %}

<!-- {% if popup.enabled %}
	{% endif %} -->

	{% if popup.title %}
	<div id="floatpopup" class="{{popup.tipo_banner == 2 or popup.tipo_banner == 3?'modal_video'}}{{popup.tipo_banner == 3?' modal_youtube'}}" style="background: white;display: none;">
		{% if popup.tipo_banner == 1 %}
		{{popup.script_embed|raw}}
		{% elseif popup.tipo_banner == 2 and popup.movie %}
		<video width="100%" height="100%" controls>
			<source src="{{url(popup.movie|media)}}" type="video/{{popup.extension_movie}}">
				Seu navegador não suporte, necessário atualizar.
			</video>
			{% elseif popup.tipo_banner == 3 and popup.embed_link_youtube %}
			<iframe width="100%" height="100%" src="{{popup.embed_link_youtube}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			{% else %}

			{% if popup.link and popup.link != '' %} <a href="{{ popup.link|prep_url }}" target="{{popup.target}}" title="{{ popup.title }}"> {% endif %}
				{% if popup.image_mobile %}
				<img src="{{ url(popup.image|media) }}" srcset="{{url(popup.image_mobile|media)}} 767w, {{url(popup.image|media)}} 1500w" loading="lazy" alt="{{ popup.title }}"/>
				{% else %}
				<img src="{{ url(popup.image|media) }}" loading="lazy" alt="{{ popup.title }}"/>
				{% endif %}
			{% if popup.link and popup.link != '' %} </a> {% endif %}

			{% endif %}
		</div>

		<!-- Load Script -->
		{% put scripts %}

		<style>
			#floatpopup{background: none!important;}
			#floatpopup iframe{max-width: 100%;height: 100%!important;}
			#floatpopup {display: none;background: white;height: 100%;}
			#floatpopup_wrapper{height: 100%;width: 100%;top: 0;left: 0;}
			#floatpopup {display: none;max-height: 90%;max-width: 90%;}
			#floatpopup .popup_close{
				position: absolute;
				right: -14px;
				top: -14px;
				border-radius: 100%;
				height: auto;
				width: auto;
				/*padding: 4px 8px;*/
				line-height: 20px;
				background: white;
				font-size: 125%;
				font-weight: bold;
				cursor: pointer;
				padding: 0;
				width: 34px;
				height: 34px;
			}
			#floatpopup_wrapper img{position: relative;max-height: 100%;max-width: 100%;height: auto;width: auto;}
			.floatpopup a{float: left;}
			#floatpopup.modal_video{height: 90%; max-width: 100%;}
			#floatpopup.modal_video video{max-height: 100%;position: relative;}
			#floatpopup.modal_youtube{width: 90%;}
		</style>

		<!-- Manual: https://dev.vast.com/jquery-popup-overlay/ -->
		<script src="{{ url('/') }}/plugins/diveramkt/floatingbanner/assets/vendor/jquery-popup-overlay/jquery.popupoverlay.js"></script>
		<!-- Manual: https://github.com/js-cookie/js-cookie -->
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function(){
	    	// if (!Cookies.get('floatpopup')) {
		        // Initialize the plugin

				var time_open='{{popup.tempo_inativo}}', interval_set='', carregado=0;
				if(time_open == '') time_open=0;

				$("body").mousemove(function( event ) {
					if(!carregado) jogar_interval();
				});

				function jogar_interval(){
					clearInterval(interval_set);
					if(!carregado){
						interval_set=setTimeout(function(){
							clearInterval(interval_set);
							carregado=1;
							$('#floatpopup').popup({
								pagecontainer: '#wrapper',
								autoopen: true,
								escape: false,
								closebutton: true,
								transition: 'all 0.5s',
								blur: false,
								scrolllock: true,
							});

							$('#floatpopup a').click(function(){
								$('#floatpopup button.popup_close').trigger('click');
							});

							Cookies.set('floatpopup', 'popup', { expires: 7 });
						}, time_open*1000);
					}
				}
				jogar_interval();

				$(document).on('click','#floatpopup .floatpopup_close',function(){
					if($('#floatpopup video').length) $('#floatpopup video').remove();
					if($('#floatpopup iframe').length) $('#floatpopup iframe').remove();
				});

			// }
			});
		</script>
		{% endput %}
		{% endif %}